
.DS_Store

*.asv
*.aux
*-blx.bib
*.blg
*.bbl
*.log
*.nav
*.toc
*.run.xml
*.synctex*
*.snm
*.vrb

# only top-level PDFs
/*.pdf 

_*
!_config.yml
*/src/*
*/html/*

*.autosave
*.slxc
slprj/

ignore/

cache/
upload/
get/